/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");


/* GENERAL STYLES */

a {
  padding: 2rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300 !important;
}

.link {
  font-size: 2rem;
  font-family: Barriecito, "cursive";
  color: #00b2cd;
  align-items: space-around;
  padding: 0 2rem;
}

div.column.register {
  border-radius: 20px !important;
  background-color: #00b2cd;
}

/* SEARCH */

.mySearchBar {
  max-width: 500px;
  margin-right: auto;
}

.mySearchRow {
  display: block !important;
}

/* NAVIGATION */

.nav-container {
  padding-top: 1.75rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.title-image {
  padding-top: 3.5rem;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #00b3cd;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

/* HEADS */

h1 {
  font-size: 5rem;
  font-family: Barriecito, "cursive";
  color: #00b2cd;
  align-items: center;
}

h2 {
  font-family: Barriecito, "cursive";
  font-size: 4rem;
  color: #00a1c4;
  text-align: center;
  padding-top: 1rem;
}

/* BUTTON */

.btn {
  font-family: Barriecito, "cursive" !important;
  font-size: 1.5rem !important;
  color: #ffffff !important;
  background-color: #7677b3 !important;
  border: none !important;
  border-radius: 15px !important;
  padding: 0.75rem !important;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.mySearchButton {
  height: 5rem;
  font-family: Barriecito, "cursive" !important;
  font-size: 1.75rem !important;
  color: #ffffff !important;
  background-color: #00b2cd !important;
  border: none !important;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin-top: 0px !important;
}

/* FORM */

.form-control {
  height: 5rem !important;
  font-family: roboto !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  color: darkgrey !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  align-items: center;
  justify-content: center;
}

InputGroup {
  background-color: #7677b3 !important;
  border: none !important;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

div.mb-3.input-group {
  height: 3rem important!;
}

/* MEDIA QUERIES */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .nav-container {
    flex-direction: column;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
