@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
import /title.png .App {
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-family: Barriecito, "cursive";
  color: #00b2cd;
  align-items: center;
}

h2 {
  font-size: 5rem;
  font-family: Barriecito, "cursive";
  color: #00a1c4;
  text-align: center;
  padding-top: 1rem;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
