@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
import /title.png .App {
  align-items: center;
}
/* .header {
width: max-content;  padding: 0%;
  margin-left: -1rem;
} */

.link {
  font-size: 1.5rem;
  font-family: Barriecito, "cursive";
  color: #00b2cd;
  align-items: space-around;
  padding: 2rem;
}

.nav-container {
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}

.title-image {
  padding-top: 3.5rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-family: Barriecito, "cursive";
  color: #00b2cd;
  align-items: center;
}

h2 {
  font-family: Barriecito, "cursive";
  font-size: 4rem;
  color: #00a1c4;
  text-align: center;
  padding-top: 1rem;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
.btn {
  font-family: Barriecito, "cursive" !important;
  font-size: 1rem !important;
  color: #ffffff !important;
  background-color:#7677b3 !important;
  border: none !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  padding: .75rem !important;
}

InputGroup {
  background-color:#7677b3 !important;
  border: none !important;
padding-top: 2rem;
}

div.mb-3.input-group {
  height: 3rem important!;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
